In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import datasets

In [2]:
#AttributeError: module 'sklearn.metrics' has no attribute 'jaccard_similarity_score'

In [3]:
#https://stackoverflow.com/a/61848957

In [4]:
# Open anaconda, create new environment. use stackoverflow requeriments.txt and
# pip install -r requirements.txt

In [5]:
newsgroups_train = datasets.fetch_20newsgroups_vectorized(subset='train', as_frame = True)
newsgroups_test = datasets.fetch_20newsgroups_vectorized(subset='test', as_frame = True)

In [6]:
newsgroups_train.data.head(3)

,00,000,0000,00000,000000,00000000,0000000004,0000000005,00000000b,00000001,...,çon,ère,ée,égligent,élangea,érale,ête,íålittin,ñaustin,ýé
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
newsgroups_test.data.head(3)

,00,000,0000,00000,000000,00000000,0000000004,0000000005,00000000b,00000001,...,çon,ère,ée,égligent,élangea,érale,ête,íålittin,ñaustin,ýé
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
newsgroups_train.data.columns[100000:100100]

Index(['recipes', 'recipie', 'recipient', 'recipients', 'recipies',
       'reciprocal', 'reciprocate', 'reciprocity', 'recirculated', 'recision',
       'recital', 'recite', 'recites', 'reciting', 'recived', 'reck',
       'reckless', 'recklessly', 'reckon', 'reckoned', 'reckoning', 'reclaim',
       'reclaimed', 'reclamation', 'recliner', 'recntly', 'recoend',
       'recoginizes', 'recognigtion', 'recognisable', 'recognise',
       'recognised', 'recognises', 'recognising', 'recognition',
       'recognitions_', 'recognizability', 'recognizable', 'recognizance',
       'recognize', 'recognizeable', 'recognized', 'recognizes', 'recognizing',
       'recoil', 'recoiled', 'recollected', 'recollection', 'recollections',
       'recom', 'recombinant', 'recomend', 'recomendation', 'recomendations',
       'recomended', 'recomending', 'recomends', 'recommandation', 'recommend',
       'recommendation', 'recommendations', 'recommended', 'recommending',
       'recommends', 'recommened', 'recompile', 'recompiled', 'recompiling',
       'recompress', 'recompressing', 'recon', 'reconcile', 'reconciled',
       'reconciliation', 'reconciliations', 'reconcilication', 'reconciling',
       'recondense', 'recondensing', 'recondition', 'reconditioned',
       'reconditioning', 'reconfig', 'reconfigure', 'reconfigured',
       'reconfiguring', 'reconfirmed', 'reconnaissance', 'reconnect',
       'reconnected', 'reconsider', 'reconsidered', 'reconstituted',
       'reconstitution', 'reconstruct', 'reconstructed', 'reconstruction',
       'reconstructions', 'recopies', 'recopy'],
      dtype='object')

In [9]:
dir("Will")[48]

'isdigit'

In [10]:
for col in newsgroups_train.data.columns:
    if col.startswith('f') & col.endswith('d'):
        print(col, end=', ')

f0d, f0kd, f2d, f4_d, f4d, f4nmlp5jd, f5d, f6d, f7d, f9d, f9f9f3v9f9d, f9f9f9d, f9f9f9f9f9d, f9f9f9f9f9f9f9d, f_os4ud, f_setfd, fabled, fabricated, faced, faceshield, facilitated, facinated, factoid, factored, fad, faded, faild, failed, fainted, fairchild, fairfield, fairground, faked, falkland, falsehood, falsified, faltered, famed, familiarized, fancied, faned, fanged, fangled, fanned, fantasyland, faofd, faqed, faqhood, farad, fared, farfetched, farid, farjestad, farmland, fasad, fascinated, fashioned, fastload, fated, fathered, fatherland, fatigued, faulted, faulterd, favored, favoured, faxed, fcsd, fd, fdd, fdhd, fdod, fdyd, fdzd, fdzd3hzachzd, feared, feathered, featured, fed, feed, fehrabend, feid, feigned, feild, feingold, felled, fenced, fend, ferdinand, fermented, fernand, ferried, fertilized, fetched, feud, fevered, feyerabend, ff1aff1d, ff8id, ffected, fhd, fhoward, fid, fiddled, field, fielded, fiend, fighting_for_the_work_of_the_lord, figured, fihd, fij8d, filecard, filed, filled, filmed, filtered, finalized, financed, find, fined, finished, finland, finned, finshed, fionread, firebird, fired, firend, firewood, firsthand, fished, fitted, fitzgerald, fivefold, fixed, fjd, fjqd, fkd, fkeyword, fktd, flagged, flamed, flamsteed, flared, flashed, flashflood, flatland, flattened, flavored, flawed, fld, fled, fledged, fleged, flicked, flied, flilled, flipped, flmurd, floated, flocked, flogged, flood, flooded, floored, flourished, flowed, floyd, flubbed, fluctuated, fluid, flushed, flwed, fnald, fnord, foamed, foard, focused, focussed, fodl1d, fogbound, fogged, foid, foiled, foisted, fold, folded, followed, fond, food, fooled, footed, foothold, footnoted, forbad, forbid, forced, ford, foreground, forehand, forehead, forested, foretold, forewarned, foreword, forfeited, forged, forground, forked, formalized, formated, formatted, formed, formfeed, formmed, formulated, forslund, fortified, fortuned, forward, forwarded, fouled, found, founded, fourd, foward, fozzard, fpod, fr0d, fr62d, fragmented, framed, fraud, frayed, fread, fred, fredd, freed, freehand, freind, freivald, frequented, freud, freund, fried, friend, frightened, fringed, fronted, frontend, frosted, frothed, frowned, fruad, fruited, frustrated, fssd, ftpd, ftpmd, fu1ttd, fuad, fubared, fucked, fud, fudd, fudged, fued, fueled, fulfilled, fullfeed, fullfilled, fumbled, functioned, fund, funded, funneled, furled, furnished, furthered, fused, fussed, fvn8bd, fvurpipd, fwd, fyd, fyld, fynd, fz0d,

In [12]:
newsgroups_train.data[:1]

,00,000,0000,00000,000000,00000000,0000000004,0000000005,00000000b,00000001,...,çon,ère,ée,égligent,élangea,érale,ête,íålittin,ñaustin,ýé
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
newsgroups_train.target[:1]

0    17
Name: category_class, dtype: int32

In [14]:
newsgroups_train.target_names[7]

'rec.autos'

In [15]:
X_train = newsgroups_train.data
y_train = newsgroups_train.target

x_test = newsgroups_test.data
y_test = newsgroups_test.target
x_test.head()

,00,000,0000,00000,000000,00000000,0000000004,0000000005,00000000b,00000001,...,çon,ère,ée,égligent,élangea,érale,ête,íålittin,ñaustin,ýé
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
model = MultinomialNB()
model.fit(X_train, y_train)

predictions = model.predict(x_test)
predictions

array([11,  0, 11, ..., 10, 16,  9])

In [17]:
model.score(x_test, y_test)

0.7052575677110993

In [18]:
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.85      0.24      0.37       319
           1       0.71      0.60      0.65       389
           2       0.79      0.65      0.71       394
           3       0.63      0.75      0.69       392
           4       0.86      0.68      0.76       385
           5       0.88      0.68      0.77       395
           6       0.90      0.72      0.80       390
           7       0.71      0.92      0.80       396
           8       0.84      0.91      0.87       398
           9       0.86      0.85      0.86       397
          10       0.90      0.93      0.91       399
          11       0.52      0.96      0.67       396
          12       0.78      0.52      0.63       393
          13       0.82      0.76      0.79       396
          14       0.83      0.81      0.82       394
          15       0.34      0.98      0.51       398
          16       0.66      0.80      0.73       364
          17       0.96      0.72      0.82       376
          18       1.00      0.17      0.29       310
          19       1.00      0.01      0.02       251

    accuracy                           0.71      7532
   macro avg       0.79      0.68      0.67      7532
weighted avg       0.79      0.71      0.69      7532